header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    padding: 1rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: var(--shadow-header);
    background: linear-gradient(to bottom, var(--bg-accent), var(--bg-accent-2));
    color: var(--text-primary);
}

img {
    width: 8.5rem;
    object-fit: contain;
}

h1 {
    font-size: 1.25rem;
}

p {
    font-size: 0.8rem;
    text-wrap: balance;
}

@media (min-width: 768px) {
    header {
        padding: 2rem;
    }

    img {
        width: 8.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}
