@if (isAddingTask) {
    <app-add-task (cancel)="onCancelAddTask()" (add)="onAddTask($event)" />
}
<section class="tasks custom-scrollbar">
    <header>
        <h2>{{ selectedUser.name }}'s Tasks</h2>
        <div>
            <button (click)="onStartAddTask()">Add Task</button>
        </div>
    </header>
    <ul class="custom-scrollbar">
        @for (task of selectedUserTasks; track task.id) {
            <li><app-task [task]="task" (complete)="onCompleteTask($event)" /></li>
        }
    </ul>
</section>
