div {
    border-radius: 6px;
    box-shadow: var(--shadow-user);
    overflow: hidden;
}

div:hover {
    box-shadow: var(--shadow-user-hover );
}

button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: var(--bg-accent);
    color: var(--text-primary);
    border: none;
    font: inherit;
    cursor: pointer;
    min-width: 10rem;
    text-align: left;
    width: 100%;
}

button:hover,
button:active,
.active {
    background-color: var(--bg-accent-soft);
    color: var(--bg-surface);
}

img {
    width: 2rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: var(--shadow-img);
}

span {
    font-size: 0.8rem;
    font-weight: normal;
}
